body{
    font-family:Arial;
    background:#f4f6fb;
}

.auth-container{
    width:400px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:12px;
}

input{
    width:100%;
    padding:12px;
    margin-top:10px;
}

button{
    width:100%;
    margin-top:20px;
    padding:12px;
    background:#2f6df6;
    color:white;
    border:none;
}
